.font-red {
  color: #F6465D !important; }

.font-green {
  color: #0ECB81 !important; }

.font-yellow {
  color: #FCD535 !important; }

.font-blue {
  color: #009CBC !important; }

.font-violet {
  color: #D500C0 !important; }

.font-greyblue {
  color: #7B94C1 !important; }

.font-white {
  color: #FFFFFF !important; }

:root {
  --basic-back: #1E232D;
  --basic-font: #F1F1F1;
  --bg-0: #1e2026;
  --bg-1: #2A2D35;
  --input-bg: #EDEEF2;
  --font-op1: #FFFFFF10;
  --font-op2: #FFFFFF20;
  --font-op3: #FFFFFF30;
  --font-op4: #FFFFFF40;
  --font-op5: #FFFFFF50;
  --font-op6: #FFFFFF60;
  --font-op7: #FFFFFF70;
  --font-op8: #FFFFFF80;
  --font-op9: #FFFFFF90;
  --font-white: #FFFFFF;
  --font-up: #0ECB81;
  --font-down: #F6465D;
  --font-span: #A2A2A2;
  --red: #F6465D;
  --green: #0ECB81;
  --yellow: #FCD535;
  --blue: #009CBC;
  --violet: #D500C0;
  --greyblue: #7B94C1;
  --white: #FFFFFF;
  --disabled: #AEAEAE;
  --tab-select: #3C5581; }

.font-op1 {
  color: var(--font-op1); }

.font-op2 {
  color: var(--font-op2); }

.font-op3 {
  color: var(--font-op3); }

.font-op4 {
  color: var(--font-op4); }

.font-op5 {
  color: var(--font-op5); }

.font-op6 {
  color: var(--font-op6); }

.font-op7 {
  color: var(--font-op7); }

.font-op8 {
  color: var(--font-op8); }

.font-op9 {
  color: var(--font-op9); }

.font-red {
  color: #F6465D !important; }

.font-green {
  color: #0ECB81 !important; }

.font-yellow {
  color: #FCD535 !important; }

.font-blue {
  color: #009CBC !important; }

.font-violet {
  color: #D500C0 !important; }

.font-greyblue {
  color: #7B94C1 !important; }

.font-white {
  color: #FFFFFF !important; }

* {
  padding: 0px;
  margin: 0px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border-collapse: collapse;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html {
  color: var(--basic-font);
  font-size: 1.2rem;
  font-family: "sans-serif";
  background-color: var(--basic-back); }

header, footer, main, section, article {
  display: block; }

header {
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: "";
  align-items: center;
  height: 70px;
  padding: 0px 10px;
  border-bottom: 1px solid var(--green); }

nav li {
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  font-size: 14px; }
nav a {
  transition-duration: .2s; }
  nav a:hover {
    color: var(--green); }

.btn {
  margin: 5px;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: bold; }
  .btn.btn-red {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: #F6465D;
    border: 1px solid #F6465D; }
    .btn.btn-red:hover {
      color: var(--basic-back);
      background-color: #F6465D; }
  .btn.btn-outline-red {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: var(--basic-back);
    border: 1px solid #F6465D;
    background-color: #F6465D; }
    .btn.btn-outline-red:hover {
      color: #F6465D;
      background-color: var(--basic-back); }
  .btn.btn-green {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: #0ECB81;
    border: 1px solid #0ECB81; }
    .btn.btn-green:hover {
      color: var(--basic-back);
      background-color: #0ECB81; }
  .btn.btn-outline-green {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: var(--basic-back);
    border: 1px solid #0ECB81;
    background-color: #0ECB81; }
    .btn.btn-outline-green:hover {
      color: #0ECB81;
      background-color: var(--basic-back); }
  .btn.btn-yellow {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: #FCD535;
    border: 1px solid #FCD535; }
    .btn.btn-yellow:hover {
      color: var(--basic-back);
      background-color: #FCD535; }
  .btn.btn-outline-yellow {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: var(--basic-back);
    border: 1px solid #FCD535;
    background-color: #FCD535; }
    .btn.btn-outline-yellow:hover {
      color: #FCD535;
      background-color: var(--basic-back); }
  .btn.btn-blue {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: #009CBC;
    border: 1px solid #009CBC; }
    .btn.btn-blue:hover {
      color: var(--basic-back);
      background-color: #009CBC; }
  .btn.btn-outline-blue {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: var(--basic-back);
    border: 1px solid #009CBC;
    background-color: #009CBC; }
    .btn.btn-outline-blue:hover {
      color: #009CBC;
      background-color: var(--basic-back); }
  .btn.btn-violet {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: #D500C0;
    border: 1px solid #D500C0; }
    .btn.btn-violet:hover {
      color: var(--basic-back);
      background-color: #D500C0; }
  .btn.btn-outline-violet {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: var(--basic-back);
    border: 1px solid #D500C0;
    background-color: #D500C0; }
    .btn.btn-outline-violet:hover {
      color: #D500C0;
      background-color: var(--basic-back); }
  .btn.btn-greyblue {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: #7B94C1;
    border: 1px solid #7B94C1; }
    .btn.btn-greyblue:hover {
      color: var(--basic-back);
      background-color: #7B94C1; }
  .btn.btn-outline-greyblue {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: var(--basic-back);
    border: 1px solid #7B94C1;
    background-color: #7B94C1; }
    .btn.btn-outline-greyblue:hover {
      color: #7B94C1;
      background-color: var(--basic-back); }
  .btn.btn-white {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #FFFFFF; }
    .btn.btn-white:hover {
      color: var(--basic-back);
      background-color: #FFFFFF; }
  .btn.btn-outline-white {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #0008;
    border-radius: 4px;
    transition-duration: .3s;
    cursor: pointer;
    color: var(--basic-back);
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF; }
    .btn.btn-outline-white:hover {
      color: #FFFFFF;
      background-color: var(--basic-back); }

progress {
  transition-duration: .3s; }

/*# sourceMappingURL=css.css.map */
