@import "mixin";
@import "color";

* {
  padding: 0px;
  margin: 0px;

  color: inherit;
  font-size: inherit;
  font-family: inherit;

  border-collapse: collapse;
  text-decoration: none;
  list-style: none;

  box-sizing: border-box;
}
html {
  color: var(--basic-font);
  font-size: 1.2rem;
  font-family: "sans-serif";
  background-color: var(--basic-back);
}
header, footer, main, section, article {
  display: block;
}
header {
  @include flex-set("", center);

  height: 70px;
  padding: 0px 10px;

  border-bottom: 1px solid var(--green);
}
nav {
  li {
    @include flex-set(center, center);
    min-width: 90px;
    font-size: 14px;
  }
  a {
    transition-duration: .2s;

    &:hover {
      color: var(--green);
    }
  }
}
$color-sheet: (
        red: #F6465D,
        green: #0ECB81,
        yellow: #FCD535,
        blue: #009CBC,
        violet: #D500C0,
        greyblue: #7B94C1,
        white: #FFFFFF,
);
.btn {
  margin: 5px;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: bold;

  @each $color, $code in $color-sheet {
    &.btn-#{$color} {
      @include btn-set($code);

      &:hover {
        @include btn-hover($code)
      }
    }
    &.btn-outline-#{$color} {
      @include btn-set-outline($code);

      &:hover {
        @include btn-hover-outline($code)
      }
    }
  }
}

progress {
  transition-duration: .3s;
}